<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>USER MANAGEMENT</title>
    <link rel="stylesheet" href="styles.css">
  </head> 
<body>
  <div class="title">Tags</div>
  <% for(var i=0; i<result.length; i++) { %>
    <div class="quote">
      <span><%= result[i].first_name %></span>
      <span><%= result[i].last_name %></span>
      <% for(var j=0; j<result[i].details.length; j++) {%>
        <div class="quote">
          <span><%= result[i].details[j].user_id %></span>
          <span><%= result[i].details[j].tag_name %></span>
        </div>
      <% } %>  
    </div>
  <% } %> 
</body>
</html>